<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
  </head>
  <body>
    {% comment %} header content start {% endcomment %}

    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand active" href="{% url 'home' %}">PUC</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {%block homeactive %} {%endblock homeactive%}" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {%block downloadactive %} {%endblock downloadactive%}" href="{%url 'downloadPUC'%}"> Download-PUC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {%block uploadactive %}  {%endblock uploadactive %}
              " aria-current="page" href="{%url 'uploadpuc'%}">Upload-PUC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin">RTO Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">Contact us</a>
            </li>
          </ul>
          {%if user.is_authenticated%}
          <div class="d-flex"><a href="/accounts/logout" class="btn btn-dark">logout</a></div>
          {%endif%}
        </div>
      </nav>
    </div>

    {% comment %} header content end {% endcomment %}

     {% block body %}
     
     {% endblock body %}

    {% comment %} footer start {% endcomment %}

    <div class="position-static bottom-0 start-50 bg-light">
      <footer class="text-center">
        Copyright &copy || All rights reserved
      </footer>
    </div>

    {% comment %} footer end {% endcomment %}

    <script src="{% static 'assets/js/bootstrap.js'%}"></script>
  </body>
</html>
