{% extends 'pucApp/base.html' %}


{%block homeactive %} active {%endblock homeactive %}

{% block body %}
<div class="" >
  <div class="">
    <h3 >
      Download PUC Certificate 
    </h3>
  </div>
  <p
  >
    Want to download your PUC certificate. make sure to have registration
    number and chassis number and click the link below
  </p>
  <div class="" >
    <div class="">
      <a href="{%url 'downloadPUC'%}"
        >Download now </a>
    </div>
  </div>
</div>

<div class="">
  <h3 >
    Want to upload renewed certificate 
  </h3>
  <p
  >
    Are you an RTO certified PUC center holder, want to upload recently
    issued or renewed PUC certificate click here and login as RTO user
  </p>
  <div class="" >
    <div class="">
      <a href="#"
        >Upload puc certificate
        </a>
    </div>
  </div>
</div>
{% endblock body %}

    

    