{% extends 'pucApp/base.html' %}


{%block uploadactive %} active {%endblock uploadactive %}

{% block body %}




<div class="container my-4 ">

  {%if ErrorMsg %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>wrong credentials !</strong> Enter valid details !
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {%elif successMsg %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Upload succesfull !</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endif%}

    <div class="row justify-content-center">
      <div class="col-md-6 animate-fade-in">
        <div class="card animate-slide-down">
          <div class="card-header">
            <h3 class="mb-0 text-center">Upload  Issued/Renewed Certificate  <i class="fas fa-upload"></i></h3>
          </div>
          <div class=" d-flex card-body justify-content-center">
            <form  method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="  my-2"><p>
                  
                  
                  {{form.registration_number.label}} <br>
                  {{form.registration_number}}

                  
                    
                    
                  </p></div>
                
                
                  <div class="  my-2"> <p>
                    
                  
                  {{form.chasis_number.label}} <br>
                  {{form.chasis_number}}
                   
                  
                    
                  </p></div>

                 
                  <div class="  my-2"><p>
                   
                    
                    {{form.contact_number.label}} <br>
                    {{form.contact_number}}
                  
                   
                  </p></div>

                  
                  
                
                  <div class="  my-2"> <p>
                   
                    
                    {{form.certificate.label}} <br>
                    {{form.certificate}}
                   
                   
                    
                      
                    
                  </p></div>

                 
                <div class="d-flex justify-content-center">                <input class="btn btn-dark" type="submit" value="upload">
                </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock body %}